<div class="container mt-3">
    <h1 class="text-center fs-4 text-uppercase">Pagina no encontrada</h1>
    <h2 class="text-center fs-5 text-uppercase">404 Error</h2>
    <div class="d-flex align-items-center justify-content-center">
        <img src="img/404.jpg" alt="404 not found" class="img-fluid">
    </div>
</div>