<div class="mt-5 border p-3 py-4 rounded mb-5" style="background: #01000e;">
    <div class=" ">
        <div class="d-flex align-items-center justify-content-around">
            <h3 class="text-center p-2 fs-4 text-light text-uppercase fw-bold">Skate & Destroy</h3>
            <h6 id="nombreusuario" class="text-light">Usuario</h6>
        <h6 class="online text-success">Online</h6>
        </div>
    </div>
    <div class="mt-3 w-100">
        <p id="messagesLogs" class="ms-5 me-5 mt-4 p-5 rounded" style="background: #f0f0f0;"></p>
    </div>
    <div class="mt-3 ms-5 me-5">
    <input type="text" id="chatBox" class="form-control" placeholder="Presionar enter para enviar mensaje">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/chat.js"></script>